.pr-tooltip {
  --pr-popover-bg-color: var(--pr-bg-color-overlay);
  --pr-popover-font-size: var(--pr-font-size-base);
  --pr-popover-border-color: var(--pr-border-color);
  --pr-popover-padding: 12px;
  --pr-popover-border-radius: 4px;
  display: inline-block;
  /* 关键：让 popper 绝对定位相对这个容器，鼠标从触发元素移到内容上时不会触发 mouseleave */
  position: relative;
}

.pr-tooltip {
  .pr-tooltip__popper {
    background: var(--pr-popover-bg-color);
    border-radius: var(--pr-popover-border-radius);
    border: 1px solid var(--pr-popover-border-color);
    padding: var(--pr-popover-padding);
    color: var(--pr-text-color-regular);
    line-height: 1.4;
    text-align: justify;
    font-size: var(--pr-popover-font-size);
    box-shadow: var(--pr-box-shadow-light);
    word-break: break-all;
    box-sizing: border-box;
    z-index: 1000;

    #arrow,
    #arrow::before {
      position: absolute;
      width: 8px;
      height: 8px;
      box-sizing: border-box;
      background-color: var(--pr-popover-bg-color);
    }

    #arrow {
      visibility: hidden;
    }

    #arrow::before {
      visibility: visible;
      content: '';
      transform: rotate(45deg);
    }

    &[data-popper-placement^='top']>#arrow {
      bottom: -5px;
    }

    &[data-popper-placement^='bottom']>#arrow {
      top: -5px;
    }

    &[data-popper-placement^='left']>#arrow {
      right: -5px;
    }

    &[data-popper-placement^='right']>#arrow {
      left: -5px;
    }

    &[data-popper-placement^="top"]>#arrow::before {
      border-right: 1px solid var(--pr-popover-border-color);
      border-bottom: 1px solid var(--pr-popover-border-color);
    }

    &[data-popper-placement^="bottom"]>#arrow::before {
      border-left: 1px solid var(--pr-popover-border-color);
      border-top: 1px solid var(--pr-popover-border-color);
    }

    &[data-popper-placement^="left"]>#arrow::before {
      border-right: 1px solid var(--pr-popover-border-color);
      border-top: 1px solid var(--pr-popover-border-color);
    }

    &[data-popper-placement^="right"]>#arrow::before {
      border-left: 1px solid var(--pr-popover-border-color);
      border-bottom: 1px solid var(--pr-popover-border-color);
    }
  }

  .fade-enter-active,
  .fade-leave-active {
    transition: opacity var(--pr-transition-duration);
  }

  .fade-enter-from,
  .fade-leave-to {
    opacity: 0;
  }
}